* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* nav bar */
#logo {
  color: rgb(255, 85, 0);
  font-size: 25px;
  font-weight: 400;
}
#navbtn {
  background-color: rgb(255, 85, 0);
  font-size: 20px;
}
#navbtn:hover {
  background-color: rgba(255, 85, 0, 0.902);
}
#navLoginbtn {
  font-size: 20px;
  color: rgb(28, 128, 95);
}
#myAccess ul li a {
  font-size: 20px;
}
/* main section */
#mainSection {
  margin: auto;
  width: 95%;
  height: 100vh;
  border-radius: 20px;
  background-color: azure;
  background-image: url(/Chat-Application/images/IMG-20240907-WA0027~2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  filter: opacity(95%);
  display: flex;
}

#mainLeft {
  width: 65%;
  height: 100vh;
  /* filter: opacity(1px); */
}
#mainLeft h1 {
  font-size: 55px;
  color: rgb(0, 0, 0);
  margin-top: 40px;
}
#mainLeft h1 b {
  font-family: cursive;
  color: rgb(255, 85, 0);
  border-bottom: 10px solid black;
  border-radius: 50%;
}
.keypoints {
  margin-top: 50px;
  font-size: 23px;
  color: rgb(0, 0, 0);
}

#chatbtn {
  background-color: rgb(255, 85, 0);
  margin-top: 30px;
  margin-left: 30px;
  font-size: 25px;
  border-bottom-right-radius: 20px;
}
/* #mainRight {
  width: 35%;
  height: 100vh;
} */

/* main second section */

#secDiv {
  height: 100vh;
  width: 95%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.headcontent {
  width: 80%;
}
#secDiv h2 {
  font-size: 40px;
  margin-top: -5%;
}
.pin {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.pin span {
  display: inline-block;
  white-space: nowrap;
  position: relative;
  left: 7rem;
  top: 50%;
  transform: translate(-50%);
  background: #ef8888;
  border-radius: 3em;
  padding: 5px;
  font-size: 0.9rem;
}
.first {
  left: 80%;
  top: 10%;
}
.first span {
  border-top-left-radius: 0px;
}
.Second {
  top: 80%;
  left: 80%;
}
.Second span {
  left: 6rem;
  border-top-left-radius: 0px;
}
.fourth {
  top: 55%;
  left: 50%;
}
.fourth span{
  left: 6.5rem;
  border-top-left-radius: 0px;
}
.fifth {
  left: 50%;
}
.six {
  top: 50%;
}
.six span {
  position: relative;
  border-top-left-radius: 0px;
  left: 8.5rem;
  top: 50%;
}
.seven {
  top: -15%;
  left: 30%;
}
.seven span {
  position: relative;
  border-top-right-radius: 0px;
  left: -2rem;
  top: 55%;
}
/* therd section */

#therdDiv {
  height: 100vh;
  width: 95%;
  margin-top: 20px;
  background-color: antiquewhite;
}
