* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar {
  width: 100%;
  background-color: rgb(255, 85, 0);
  padding: 10px;
  height: 50px;
  /* position: fixed; */
  /* z-index: 1; */
  display: flex;
}
.nav-bar h1 {
  margin: auto;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 400;
}

.container {
  width: 55%;
  height: 70vh;
  margin: auto;
  margin-top: 30px;
  border: 3px solid rgb(255, 85, 0);
  padding: 35px;
  overflow-y: auto;
}

.massage {
  width: 25%;
  background-color: #ef8888;
  padding: 10px;
  margin: 17px 12px;
  border: 2px solid rgb(255, 85, 0);
  border-radius: 12px;
}

.right {
  float: right;
  clear: both;
}

.left {
  float: left;
  clear: both;
}

/*  input section */

#send-container {
  display: block;
  margin: auto;
  text-align: center;
  width: 55%;
  margin-top: 5px;
}
#messageInp {
  width: 90%;
  border: none;
  background-color: #ef8888;
  padding: 8px;
  font-size: 20px;
  border-radius: 12px;
  /* height: 35px; */
}

.btn {
  padding: 11px;
  cursor: pointer;
  border: none;
  background-color: rgb(255, 85, 0);
  border-radius: 12px;
}
