body {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(232, 230, 227);
}
.nav-bar {
  width: 100%;
  background-color: rgb(255, 85, 0);
  padding-top: 10px;
  padding-bottom: 10px;
  height: 40px;
  display: flex;
}
.nav-bar  h1  {
  margin: auto;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 400;
}
.nav-bar a{
  text-decoration: none;
  color: #000;
}
#messages {
  width: 65%;
  height: 70vh;
  margin: auto;
  margin-top: 30px;
  border: 8px groove rgb(255, 85, 0);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 12px;
  padding: 15px;
  overflow-y: auto;
  background-image: url(/Chat-Application/images/chat\ wallpaper.jpg);
  filter: opacity(85%);
}
#sendMsg {
  position: fixed;
  left: 0%;
  bottom: 10px;
  width: 100%;
  height: 50px;
}
#msgTxt {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% - 100px);
  background-color: #ef8888;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border: none;
  border-radius: 12px;
  font-size: 20px;
  height: 100%;
  padding-left: 10px;
  box-sizing: border-box;
}
#msgBtn {
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  height: 100%;
  cursor: pointer;
  border: none;
  background-color: rgb(255, 85, 0);
  border-radius: 12px;
  font-size: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.outer {
  width: 100%;
  margin-top: 10px;
  display: flex;
}
#inner {
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}
.me {
  width: auto;
  background-color: #ef8888;
  padding: 7px;
  margin: 3px 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 12px;
}
.notMe {
  background-color: rgb(246, 147, 98);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  color: #000;
}

/* #dltMsg {
  background-color: red;
  padding: 6px;
  width: 20%;
  border: none;
  border-radius: 50%;
  margin-left: 30px;
} */
